/*
	@package jjketsa
*/
/*
	Import
	------------------------------------------------
*/
/*
	@package sunsettheme
*/
/*
	Variables
	------------------------------------------------
*/
/*
	@package sunsettheme
*/
/*
	Mixins
	------------------------------------------------
*/
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
/* 
	Generic 
	------------------------------------------------
*/
body {
  font-family: "arial", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale; }
  body.no-scroll {
    overflow-y: hidden; }

a {
  color: #000000;
  -webkit-transition: color 320ms ease;
  -moz-transition: color 320ms ease;
  -ms-transition: color 320ms ease;
  -o-transition: color 320ms ease;
  transition: color 320ms ease; }
  a:hover, a:focus {
    text-decoration: none;
    color: #333333; }

.scrollTo-top {
  display: none;
  position: fixed;
  bottom: 16px;
  right: 20px;
  font-size: 32px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.3rem;
  z-index: 5000000000000000; }
  .scrollTo-top i {
    padding: 3px 10px;
    color: #fff; }

@media (min-width: 992px) {
  .container {
    width: 100%; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; }

  .wsmenu-submenu {
    min-width: 185px;
    background: #db5010; } }
#page-content table {
  max-width: 100%  !important; }

#social_block {
  list-style: none;
  float: right; }
  #social_block li {
    display: inline; }
    #social_block li a {
      display: inline-block;
      width: 40px;
      height: 40px;
      padding: 7px 11px;
      border: 1px solid #858585;
      border-radius: 50%; }
      #social_block li a i {
        color: #858585; }
      #social_block li a.facebook-link {
        padding-left: 14px; }

.title-head {
  text-align: center;
  margin-bottom: 60px; }
  .title-head span {
    font-size: 34px;
    font-weight: 580;
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
    line-height: 40px;
    color: #000;
    padding-bottom: 14px;
    border-bottom: 4px solid #e02d85; }

/* 
	Header 
        ------------------------------------------------
*/
.header {
  background-color: #fff;
  color: #858585;
  /* 
              Header Top content
      ------------------------------------------------
  */
  /* 
          Menu 
          ------------------------------------------------
  */ }
  .header .header-wrap {
    background-color: #000;
    margin-bottom: 1px; }
    .header .header-wrap .header-top {
      margin: 8px 0 12px 0;
      font-size: 20px; }
      .header .header-wrap .header-top .header-right {
        height: 73px;
        margin-top: 35px;
        width: 440px;
        float: right; }
        .header .header-wrap .header-top .header-right .hotline {
          float: right;
          line-height: 40px; }
          .header .header-wrap .header-top .header-right .hotline span {
            font-weight: bold; }
          .header .header-wrap .header-top .header-right .hotline a {
            color: #d3528c; }
  .header .menu-ground, .header .mobile-sub {
    background: #3b4347; }
  .header .menu-ground .wsmenu > .wsmenu-list > li > a.active {
    background: #ff578f !important;
    color: #fff !important; }
  .header .menu-ground .wsmenu > .wsmenu-list > li > a {
    color: #fff;
    text-transform: uppercase;
    border-radius: 0px;
    font-size: 18px;
    font-weight: bold;
    line-height: 90px;
    background: transparent !important; }

/* 
	Footer
        ------------------------------------------------
*/
footer {
  background-color: #f6f6f6;
  padding: 60px 0 0;
  color: #858585; }
  footer a {
    color: #858585; }
  footer .footer-content {
    margin-bottom: 60px; }
    footer .footer-content .footer-top-span {
      display: inline-block;
      color: #597ab5;
      width: 100%;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 30px; }
    footer .footer-content ul {
      list-style: none;
      padding: 0;
      margin: 0;
      line-height: 28px; }
      footer .footer-content ul li:before {
        content: "\f0da";
        font-size: 12px;
        font-weight: normal;
        font-family: FontAwesome;
        padding-right: 15px; }
  footer .copyright-wrapper {
    background-color: #000;
    font-size: 18px;
    padding: 22px 0; }
    footer .copyright-wrapper .copyright {
      width: 660px;
      margin-top: 7px; }
      footer .copyright-wrapper .copyright .company {
        color: #54273b; }
      footer .copyright-wrapper .copyright .psmedia {
        color: #86390d; }
    footer .copyright-wrapper #social_block {
      display: block;
      overflow: hidden;
      float: right;
      font-size: 20px;
      margin-bottom: 0; }

/* 
	Search form
        ------------------------------------------------
*/
.search-form .form-group {
  width: 14.285%;
  float: left;
  margin: 10px 0px;
  padding: 0 20px; }
  .search-form .form-group:first-child {
    padding-left: 0; }
  .search-form .form-group:last-child {
    padding-right: 0; }
  .search-form .form-group button {
    width: 100%;
    margin-top: 24px; }

/* 
	Product item
        ------------------------------------------------
*/
.product-col .product-item {
  overflow: hidden;
  box-shadow: 0px 0px 8px #e1e1e1;
  position: relative;
  background: #fff; }
  .product-col .product-item img {
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease; }
.product-col:hover .product-item img, .product-col:focus .product-item img, .product-col:active .product-item img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); }
.product-col .item-title {
  border-top: 1px solid #e1e1e1;
  min-height: 70px;
  width: 100%;
  background: #fff;
  color: #464646;
  padding: 15px 15px 15px 15px;
  vertical-align: bottom;
  border: 1px solid #e1e1e1; }

/* 
	Sell & buy indicator
        ------------------------------------------------
*/
.ind-sell-buy {
  color: #fff;
  margin: 0; }
  .ind-sell-buy a {
    color: #fff; }
  .ind-sell-buy .row {
    margin: 0; }
  .ind-sell-buy .item {
    padding: 20px 0; }
  .ind-sell-buy .ind-buy {
    background-color: #ba759a;
    padding: 90px 60px 50px 5px; }
    .ind-sell-buy .ind-buy .buy-item-left {
      text-align: right; }
    .ind-sell-buy .ind-buy .title-head {
      text-align: right;
      margin-bottom: 30px; }
  .ind-sell-buy .ind-sell {
    background-color: #ba4272;
    padding: 90px 5px 50px 50px; }
    .ind-sell-buy .ind-sell .title-head {
      text-align: left;
      margin-bottom: 30px; }

/*# sourceMappingURL=front.css.map */
