/*
	@package sunsettheme
*/

/*
	Variables
	------------------------------------------------
*/
$icon-font : 'sunset-icon';
$body-font : 'arial', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;

$primary-color : #000000;
$dark-grey : #333333;
$grey: #858585;
$grey2: #CBCBCB;
$light-grey : #898989;
$lighter-grey : #F1F1F1;
$dark-pink : #d3528c;
$orange-hover : #F56B08;