/*
	@package jjketsa
*/

/*
	Import
	------------------------------------------------
*/
@import 'variables';		//variables
@import 'mixins';			//mixins

/* 
	Generic 
	------------------------------------------------
*/
body { font-family: $body-font; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: greyscale; 
	
	&.no-scroll {
		overflow-y: hidden;
	}	
}

a { color: $primary-color; @include animate( color, 320ms );
	&:hover,
	&:focus { text-decoration: none; color: $dark-grey; }
}
.scrollTo-top { display: none; position: fixed; bottom: 16px;
    right: 20px; font-size: 32px; background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.3rem;
    z-index: 5000000000000000;
    i {
        padding: 3px 10px;
        color: #fff;
    }
}
#google-map{height: 400px;}

@media (min-width: 992px){
    .container {
        width: 100%;
    }
}
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
    .wsmenu-submenu{
        min-width: 185px;
        
    background: #db5010
    }
}
#page-content table{
    max-width: 100%  !important;
}

#social_block { list-style: none; float:right;
    li{display: inline;
        a{ display: inline-block; width: 40px; height: 40px; padding: 7px 11px; border: 1px solid $grey; border-radius: 50%;
            i{ color: $grey; }  
            &.facebook-link{padding-left: 14px;}
        } 
    }
}
.title-head {text-align: center; margin-bottom: 60px;
    span {
        font-size: 34px;
        font-weight: 580;
        margin-top: 20px;
        margin-bottom: 10px;
        display: inline-block;
        line-height: 40px;
        color: #000;
        padding-bottom: 14px;
        border-bottom: 4px solid $pink;
    }
}

/* 
	Header 
        ------------------------------------------------
*/
.header{ background-color: #fff; color: $grey; 
/* 
            Header Top content
    ------------------------------------------------
*/
    .header-wrap{ background-color: #000; margin-bottom: 1px;
        .header-top{ margin: 8px 0 12px 0; font-size: 20px; 
           .header-right{height: 73px; margin-top: 35px; width: 440px; float:right;
                .hotline{ float:right; line-height: 40px;
                    span{ font-weight: bold;}
                    a{color: $dark-pink;}
                }
           }
        }
    }
    
/* 
        Menu 
        ------------------------------------------------
*/
    .menu-ground, .mobile-sub { background: $light-grey; }
    .menu-ground{
        .wsmenu > .wsmenu-list > li > a.active { background: #ff578f !important; color: #fff !important; }
        .wsmenu > .wsmenu-list > li > a { color: #fff; text-transform: uppercase; border-radius: 0px; 
                                          font-size: 18px; font-weight: bold; line-height: 90px; 
                                          background: transparent !important;
        }
    }
}

/* 
	Footer
        ------------------------------------------------
*/

footer { background-color: $light-white; padding: 60px 0 0; color: $grey; 
    a{ color: $grey; }
    .footer-content { margin-bottom: 60px;
            .footer-top-span {
            display: inline-block;
            color: $dark-blue;
            width: 100%;
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 30px;
        }
        ul { list-style: none;padding: 0; margin: 0; line-height: 28px;
            li:before {
                content: "\f0da";
                font-size: 12px;
                font-weight: normal;
                font-family: FontAwesome;
                padding-right: 15px;
            }
        }
    }
    
    .copyright-wrapper { background-color: #000; font-size: 18px; padding: 22px 0; 
        .copyright { width: 660px; margin-top: 7px;
            .company { color: #54273b; }
            .psmedia { color: #86390d;}
        }
        #social_block { display: block; overflow: hidden; float: right; font-size: 20px; margin-bottom: 0;
        }
    }    
}

/* 
	Search form
        ------------------------------------------------
*/
.search-form .form-group{ width: 14.285%;float: left; margin: 10px 0px; padding: 0 20px;
    &:first-child{padding-left: 0;}
    &:last-child{ padding-right: 0 ;}
    button{width: 100%; margin-top: 24px;}
}

/* 
	Product item
        ------------------------------------------------
*/
.product-col {
    .product-item { overflow: hidden; 
    box-shadow: 0px 0px 8px #e1e1e1;
    position: relative;
    background: #fff;
          
        img{
            @include animate( transform, 0.3s );
        }
    }
    &:hover .product-item img, &:focus .product-item img, &:active .product-item img, {@include transform( scale(1.1) ); 
    }
    .item-title{
            border-top: 1px solid #e1e1e1;
            min-height: 70px;
            width: 100%;
            background: #fff;
            color: #464646;
            padding: 15px 15px 15px 15px;
            vertical-align: bottom;
            border: 1px solid #e1e1e1;
        }      
}
 
/* 
	Sell & buy indicator
        ------------------------------------------------
*/
.ind-sell-buy{ color: #fff; margin: 0;
              a {color: #fff;}
              .row{margin: 0;}
              .item{padding: 20px 0}
              .ind-buy{ background-color: #ba759a; padding: 90px 60px 50px 5px;
                    .buy-item-left{text-align: right;}                    
                    .title-head{text-align: right; margin-bottom: 30px;}
                  
              }
              .ind-sell{background-color: #ba4272; padding: 90px 5px 50px 50px;                                
                    .title-head{text-align: left; margin-bottom: 30px;}
              }
}
/* 
	slider
        ------------------------------------------------
*/
#wowslider-container1 {
    .ws_bullets { bottom: 50%!important;left: auto!important;right: 40px!important;}
    .ws-title{color:#fff!important;opacity: 0.9!important; background-color: #000!important; bottom: 50%!important;left: auto!important;right: 40px!important;width: 550px; height: 180px;padding:0!important;margin:0!important;
              > span{color: #ea639e!important;background-color: transparent!important;}
              div{background-color: transparent!important;}
    }
}