/*
	@package jjketsa
*/

/*
	Import
	------------------------------------------------
*/
@import 'variables';		//variables
@import 'mixins';			//mixins

/* 
	Generic 
	------------------------------------------------
*/
body { font-family: $body-font; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: greyscale; 
	
	&.no-scroll {
		overflow-y: hidden;
	}	
}

a { color: $primary-color; @include animate( color, 320ms );
	&:hover,
	&:focus { text-decoration: none; color: $dark-grey; }
}

@media (min-width: 992px){
    .container {
        width: 100%;
    }
}
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
    .wsmenu-submenu{
        min-width: 185px;
        
    background: #db5010
    }
}
#page-content table{
    max-width: 100%  !important;
}


/* 
	Header 
	------------------------------------------------
*/

.header{ background-color: #000; }

#social_block{ color: #fff; }