/*
	@package jjketsa
*/

/*
	Import
	------------------------------------------------
*/
@import 'variables';		//variables
@import 'mixins';			//mixins

/* 
	Generic 
	------------------------------------------------
*/
body { font-family: $body-font; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: greyscale; 
	
	&.no-scroll {
		overflow-y: hidden;
	}	
}

a { color: $primary-color; @include animate( color, 320ms );
	&:hover,
	&:focus { text-decoration: none; color: $dark-grey; }
}

@media (min-width: 992px){
    .container {
        width: 100%;
    }
}
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
    .wsmenu-submenu{
        min-width: 185px;
        
    background: #db5010
    }
}
#page-content table{
    max-width: 100%  !important;
}


/* 
	Header 
	------------------------------------------------
*/

.header{ background-color: #000; color: $grey; 
    .header-top{ margin: 8px 0 12px 0;  
       > div{height: 96px;}
       .hotline{ line-height: 96px; 
           span{ font-weight: bold;}
           a{color: $dark-pink;}
       }
       #social_block { list-style: none; margin-top: 35px; float: right;
           li{display: inline;
               a{ display: inline-block; width: 25px; height: 25px; padding: 3px 6px; border: 1px solid $grey; border-radius: 50%;
                   i{ color: $grey; }  
                   &.facebook-link{padding-left: 8px;}
               } 
           }
       }
    }
}